<section class="bg-base p-lg">
  <h1 class="ui-text-title-1">Design System: Theme Dark</h1>

  <div class="flow">
    <h2 class="ui-text-title-2">Text</h2>

    <h1 class="ui-text-title-1">This is title 1</h1>
    <h2 class="ui-text-title-2">This is title 2</h2>
    <h3 class="ui-text-title-3">This is title 3</h3>
    <h4 class="ui-text-title-4">This is title 4</h4>
    <p class="ui-text-base">
      This is paragraph: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident ea optio deserunt aliquid,
      voluptatem maiores nesciunt deleniti sed? Perspiciatis fugiat consectetur in culpa aperiam inventore sed hic
      libero praesentium sapiente?
    </p>
  </div>

  <div>
    <h2 class="ui-text-title-2">UI</h2>
    <button type="button" class="ui-button">Button</button>
    <button type="button" class="ui-button ui-button-accent">Button</button>
  </div>
</section>
