---
import System from 'src/components/Design/System.astro'
import Tokens from 'src/components/Design/Tokens.astro'
import Layout from 'src/layouts/Layout.astro'
---

<Layout>
  <div class="max-w-6xl mx-auto">
    <Tokens />
    <System />
  </div>
</Layout>
